/server/venv/
**/__pycache__/
/server/.env
server/dump.rdb
server/celerybeat-schedule
server/dump.rdb
tsarbirzha.code-workspace
server/dump.rdb
server/services/__pycache__/__init__.cpython-310.pyc
server/services/__pycache__/main.cpython-310.pyc
server/utils/__pycache__/__init__.cpython-310.pyc
server/utils/__pycache__/app_exceptions.cpython-310.pyc
server/utils/__pycache__/request_exceptions.cpython-310.pyc
server/utils/__pycache__/service_result.cpython-310.pyc
server/schemas/__pycache__/__init__.cpython-310.pyc
server/routers/__pycache__/__init__.cpython-310.pyc
server/models/__pycache__/__init__.cpython-310.pyc
server/config/__pycache__/__init__.cpython-310.pyc
server/config/__pycache__/database.cpython-310.pyc
/server/media/*
server/media/*
